/* Base
------------------------- */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Texta Regular', sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #666;
  background: #FAFAFA;
  padding-bottom: 200px;
}

a {
  color: #F90;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ---- type ---- */

h1, h2, h3,
strong, b {
  font-family: 'Texta Heavy', sans-serif;
  font-weight: normal;
}

/* italic */
em, i,
.header__credo {
  font-family: 'Texta Italic', sans-serif;
  font-style: normal;
}

h1, h2, h3 {
  line-height: 1.2;
}

/* ---- clearfix ---- */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- content-wrap ---- */

.content-wrap {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ----  ---- */

.section-title {
  font-size: 4em;
  margin: 40px 0 0px;
}

.section-description {
  font-size: 2.0em;
  margin: 0 0 30px;
}

section h3 {
  font-family: 'Texta Regular', sans-serif;
  font-size: 2.0em;
  margin-bottom: 20px;
}

/* ----  ---- */

.caption {
  font-size: 0.9em;
  line-height: 1.2;
  margin: 10px 0 0;
}

/* ----  ---- */

.figure__img-link {
  display: block;
}

.figure__img-link:hover { text-decoration: none; }

.figure__img-link img {
  display: block;
  width: 100%;
}
  