/* Base
------------------------- */

/* colors
orange #F90
green #8C8
blue #09F
magenta #F09
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Texta Regular', sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #666;
  padding-bottom: 200px;
}

a {
  color: #F90;
  text-decoration: none;
}

a:hover {
  color: #09F;
  text-decoration: underline;
}

/* ---- type ---- */

h1, h2, h3,
strong, b,
.text-list__title {
  font-family: 'Texta Heavy', sans-serif;
  font-weight: normal;
}

/* italic */
em, i,
.header__credo {
  font-family: 'Texta Italic', sans-serif;
  font-style: normal;
}

h1, h2, h3 {
  line-height: 1.2;
}

iframe {
  background: #EEE;
}

/* ---- clearfix ---- */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- content-wrap ---- */

.content-wrap {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ----  ---- */

@media screen and (min-width: 640px) {
  .content-wrap {
    padding: 0 30px;
  }

  .big-copy {
    font-size: 1.6em;
    line-height: 1.3em;
  }
}
