/* Isotope
------------------------- */

.isotope-demo {
  margin-bottom: 40px;
}

.isotope-demo__item {
  float: left;
  position: relative;
  width: 120px;
  height: 120px;
  background: #AAA;
  margin: 0 10px 10px 0;
  border-radius: 8px;
}

.isotope-demo__item--orange { background: #F90; }
.isotope-demo__item--green { background: #8C8; }
.isotope-demo__item--magenta { background: #09F; }

.isotope-demo__item > span {
  position: absolute;
  color: white;
  line-height: 1;
  font-size: 2.6em;
}

.isotope-demo__item__letter {
  left: 10px;
  top: 8px;
}

.isotope-demo__item__number {
  right: 15px;
  bottom: 8px;
}

.isotope-demo-buttons__group {
  display: inline-block;
  margin-right: 20px;
}

.isotope-demo-buttons button {
  display: block;
  float: left;
  padding: 6px 20px;
  border: 1px solid #BBB;
  border-right: none;
  background: #EEE;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1) );
}

.isotope-demo-buttons button:first-child {
  border-radius: 8px 0 0 8px;
}

.isotope-demo-buttons button:last-child {
  border-radius: 0 8px 8px 0;
  border-right: 1px solid #BBB;
}

.isotope-demo-buttons button:hover {
  background-color: #FFF;
}

.isotope-demo-buttons button:active {
  background-color: #EEE;
  box-shadow: inset 0 2px 10px hsla(0, 0%, 0%, 0.3);
}

.isotope-demo-buttons button.is-selected {
  background-color: #F90;
  color: white;
}
