/* Layout
------------------------- */

/* contains cells */
.container:after {
  content: '';
  display: block;
  clear: both;
}

/* column */
.col {
  float: left;
  margin-bottom: 30px;
  margin-right: 4%;
}

.col--half {
  width: 48%;
}

.col--half:nth-child(2n) {
  margin-right: 0;
}

.col--half__quarter {
  width: 45.8%;
  margin-right: 8.3%;
}

.col--half__quarter:nth-child(2n) {
  margin-right: 0;
}

@media screen and ( min-width: 640px ) {
  /* quarter width */
  .col--l-quarter:nth-child(n) {
    width: 23.5%;
    margin-right: 2%;
  }

  .col--l-quarter:nth-child(4n) {
    margin-right: 0;
  }
}

