<div class="gif-player is-stopped js-gif-player">
  <button class="gif-player__play-button gif-player__play-button--corner">
    <svg viewbox="0 0 25 20">
      <path class="gif-player__play-button__arrow" d="M 0 0 L 25 10 L 0 20 L 0 0 Z"></path>
    </svg>
  </button>
  <button class="gif-player__play-button gif-player__play-button--center">
    <svg viewbox="0 0 25 20">
      <path class="gif-player__play-button__arrow" d="M 0 0 L 25 10 L 0 20 L 0 0 Z"></path>
    </svg>
  </button>
  <img class="gif-player__img" src="{{poster_img}}" data-gif="{{gif}}" alt="{{alt}}" />
</div>

{{#if caption}}
  <p class="caption">{{caption}}</p>
{{/if}}
