<section id="nclud-com" class="nclud-com">
  <div class="section-header">
    <h2 class="section-title"><a href="http://nclud.com">nclud.com v3</a></h2>
    <p class="section-description">Front-end development</p>
    <p class="section-timestamp">2012</p>
  </div>

  <div class="figure fit-video" style="padding-bottom: 57.8%;">
    {{! 640 x 370 }}
    <iframe data-lazy data-src="https://vid.me/e/kgMV?tools=1&muted=1&loop=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
  </div>

  <div class="grid">
    <div class="figure grid__half ">
      <a class="figure__img-link" href="http://nclud.com">
        <img data-lazy="1200x694" data-src="img/nclud-v3-home.jpg" alt="nclud.com v3 homepage" /></a>
    </div>
    <div class="figure grid__half ">
      <a class="figure__img-link" href="http://nclud.com/work/">
        <img data-lazy="1200x694" data-src="img/nclud-v3-opower.jpg" alt="nclud.com v3 Opower project" /></a>
    </div>
    <div class="figure grid__half ">
      <a class="figure__img-link" href="http://nclud.com/team/">
        <img data-lazy="1200x694" data-src="img/nclud-v3-team.jpg" alt="nclud.com v3 team" /></a>
    </div>
    <div class="figure grid__half ">
      <a class="figure__img-link" href="http://nclud.com/contact/">
        <img data-lazy="1200x694" data-src="img/nclud-v3-contact.jpg" alt="nclud.com v3 Opower project" /></a>
    </div>
  </div>

</section>
