<section id="other-projects" class="other-projects">
  <div class="section-header">
    <h2 class="section-title">Other projects</h2>
  </div>

  <div class="grid">
    <ul class="text-list grid__half ">
      <li>
        <p class="text-list__title"><a href="http://draggabilly.desandro.com">Draggabilly</a></p>
        <p class="text-list__caption">Make that shiz draggable</p>
      </li>
      <li>
        <p class="text-list__title"><a href="http://arpeggiator.desandro.com">Web Audio Arpeggiator</a></p>
        <p class="text-list__caption">Make your own bonkers Mega Man level music</p>
      </li>
      <li>
        <p class="text-list__title"><a href="http://codepen.io/desandro/full/ezNawy/">Cub n Pup demo</a></p>
        <p class="text-list__caption">Puzzle game proof-of-concept. 60 levels to play.</p>
      </li>
    </ul>
    <ul class="text-list grid__half ">
      <li>
        <p class="text-list__title"><a href="http://imagesloaded.desandro.com">imagesLoaded</a></p>
        <p class="text-list__caption">JavaScript is all like <i>&ldquo;You images done yet or what?&rdquo;</i></p>
      </li>
      <li>
        <p class="text-list__title"><a href="http://v2.desandro.com/articles/">Articles 2009&ndash;2012</a></p>
      </li>
    </ul>
  </div>

</section>
