</div> <!-- .content-wrap -->

{{#if is_dev }}
  {{#each js_paths}}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  <script src="js/scripts.js?1"></script>
{{/if}}

<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-592624-3','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>
</html>
