<section id="beercamp-2011" class="beercamp-2011">
  <div class="section-header">
    <h2 class="section-title"><a href="http://2011.beercamp.com">BeerCamp 2011</a></h2>
    <p class="section-description"><a href="http://www.creativebloq.com/netmag/net-awards-2011-winners-11116624">Winner, .net Awards 2011 Site of the year</a></p>
    <p class="section-timestamp">2011</p>
  </div>

  <div class="figure">
    <a class="figure__img-link" href="http://2011.beercamp.com">
      <img data-lazy="1146x731" data-src="img/beercamp-2011.png" alt="2011.beercamp.com" /></a>
  </div>

  <div class="fit-video figure" style="padding-bottom: 56.3%;">
    {{! 560 x 315 }}
    <iframe data-lazy data-src="https://www.youtube.com/embed/wklvSWiIxik?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</section>
