<section id="blogs" class="blogs">
  <div class="section-header">
    <h2 class="section-title">Blogs</h2>
  </div>

  <div class="grid">
    <ul class="text-list grid__half ">
      <li>
        <p class="text-list__title"><a href="https://metafizzy.co/blog">Metafizzy blog</a></p>
        <p class="text-list__caption">Company blog — running a small business &amp; front-end development</p>
      </li>
      <li>
        <p class="text-list__title"><a href="http://dropshado.ws">dropshado.ws</a></p>
        <p class="text-list__caption">Front-end development minutia</p>
      </li>
    </ul>
    <ul class="text-list grid__half ">
      <li>
        <p class="text-list__title"><a href="http://smallblog.desandro.com">Smallblog</a></p>
        <p class="text-list__caption">I don't know how to put this in words but this is me trying</p>
      </li>
      <li>
        <p class="text-list__title"><a href="http://runruncycle.tumblr.com">Run run cycle</a></p>
        <p class="text-list__caption">Run cycle gifs</p>
      </li>
    </ul>
  </div>

</section>
