<section id="codepen" class="codepen">
  <div class="section-header">
    <h2 class="section-title"><a href="http://codepen.io/pen/">CodePen</a></h2>
    <p class="section-description">Drag, resize, collapse editor panels</p>
    <p class="section-timestamp">2015</p>
  </div>

  <div class="fit-video figure" style="padding-bottom: 56.3%;">
    {{! 560 x 315 }}
    <iframe data-lazy data-src="https://www.youtube.com/embed/Y_HjWXw_YZs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</section>
