<section id="favorites" class="favorites">
  <div class="section-header">
    <h2 class="section-title">Favorites</h2>
  </div>

  <div class="grid">
    <div class="grid__half ">
      <ul class="text-list">
        <li class="text-list__title"><a href="https://web.archive.org/web/20180127223436/http://the-toast.net/2014/11/10/sorry-murdered-everyone-im-introvert/">Sorry I Murdered Everyone, But I’m An Introvert</a></li>
        <li class="text-list__title">Jonathan Harris - <a href="http://number27.org/beyondflash">Beyond Flash</a></li>
        <li class="text-list__title">
          Brian Moriarty -
          <a href="http://ludix.com/moriarty/psalm46.html">The Secret of Psalm 46</a>
        </li>
        <li class="text-list__title">fat - <a href="https://www.youtube.com/watch?v=UIDb6VBO9os&t=16m26s">What Is Open Source &amp; Why Do I Feel So Guilty?</a></li>
        <li class="text-list__title">99% Invisible - <a href="https://www.youtube.com/watch?v=pnv5iKB2hl4"> Why city flags may be the worst-designed thing you've never noticed</a></li>
        <li class="text-list__title">Wilson Miner - <a href="https://vimeo.com/34017777">When We Build</a></li>
      </ul>
    </div>
    <div class="grid__half ">
      <ul class="text-list">
        <li class="text-list__title"><a href="http://waitbutwhy.com/2013/09/why-generation-y-yuppies-are-unhappy.html">Why Generation Y Yuppies Are Unhappy</a></li>
        <li class="text-list__title"><a href="https://www.reddit.com/r/AskReddit/comments/oc7rc/have_you_ever_felt_a_deep_personal_connection_to/c3g4ot3">The inverted lamp</a></li>
        <li class="text-list__title"><a href="https://sivers.org/hellyeah">No “yes.” Either “HELL YEAH!” or “no.”</a></li>
        <li class="text-list__title"><a href="https://www.youtube.com/watch?v=RTs5eKZ0i1E">The Christmas Tree</a></li>
        <li class="text-list__title"><a href="https://www.youtube.com/watch?v=v4IC7qaNr7I">KXVO Pumpkin Dance</a></li>
        <li class="text-list__title"><a href="https://vine.co/v/ih0rU2z62BK">가끔은 고양이와 춤을 춥시다</a></li>
        <li class="text-list__title"><a href="https://www.youtube.com/watch?v=4YBxeDN4tbk">Your business card is CRAP!</a></li>
        <li class="text-list__title"><a href="https://www.craigslist.org/about/best/nyc/3796206422.html">Oh my god. Oh. My. God.</a></li>
      </ul>
    </div>
  </div>

</section>
