<section id="logos" class="logos">
  <div class="section-header">
    <h2 class="section-title">Logos</h2>
  </div>

  <h3>Logo Pizza</h3>

  <div class="figure">
    <a href="http://logo.pizza">
      <img data-lazy data-src="img/logos/logo-pizza-collage.png" alt="Logo Pizza" />
    </a>
    <p class="caption"><a href="http://logo.pizza">Hot &amp; ready logos for sale</a></p>
  </div>

  <h3>Metafizzy</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy data-src="img/logos/metafizzy-logo.png" alt="Metafizzy logo" />
      <p class="caption"><a href="http://metafizzy.co/blog/fizzy-bear-branded/">Read Metafizzy re-brand design process</a></p>
    </div>

    <div class="figure grid__half ">
      <img data-lazy data-src="img/logos/metafizzy-mix.png" alt="Metafizzy brand" />
    </div>

    <div class="figure grid__half">
      <a href="https://cottonbureau.com/products/fizzy-bear">
        <img data-lazy data-src="img/logos/metafizzy-logo-shirt.jpg" alt="Metafizzy logo shirt" /></a>
      <p class="caption"><a href="https://cottonbureau.com/products/fizzy-bear">Fizzy bear shirts available on Cotton Bureau</a></p>
    </div>

    <div class="figure grid__half">
      <img data-lazy data-src="img/logos/metafizzy-sticker-splash.jpg" alt="Metafizzy logo stickers" />
    </div>
  </div>

  <h3>Bower</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy data-src="img/logos/bower-logo.png" alt="Bower logo" />
      <p class="caption">Bower. <a href="https://gist.github.com/desandro/1c50118441f703f3f6e1">Read design process</a>.</p>
    </div>

    <div class="grid__half ">
      <div class="grid__row">
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="https://cottonbureau.com/products/bower">
            <img data-lazy data-src="img/logos/bower-shirt-gold.jpg" alt="Bower gold shirt" /></a>
          <p class="caption"><a href="https://cottonbureau.com/products/bower">Bower shirts available on Cotton&nbsp;Bureau</a></p>
        </div>
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="https://cottonbureau.com/products/bower">
            <img data-lazy data-src="img/logos/bower-shirt-oatmeal.jpg" alt="Bower gold oatmeal" /></a>
        </div>
      </div> {{! .grid__row }}
      <div class="grid__row">
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="http://bower.io">
            <img data-lazy data-src="img/logos/bower-io.png" alt="Bower.io" /></a>
          <p class="caption"><a href="http://bower.io">Bower.io</a></p>
        </div>
        <div class="figure grid__quarter ">
            <img data-lazy data-src="img/logos/bower-stickers.jpg" alt="Bower stickers" />
        </div>
      </div> {{! .grid__row }}
    </div> {{! .grid__half }}
  </div>

  <h3>Various</h3>

  <div class="grid">
    <div class="grid__half">

      <div class="grid__row">
        <div class="figure grid__quarter">
          <img data-lazy data-src="img/logos/shepherd-logo.png" alt="Shepherd logo" />
          <p class="caption">
            <a href="http://metafizzy.co/blog/shepherd-logo/">Shepherd</a>
          </p>
        </div>

        <div class="figure grid__quarter">
          <img data-lazy data-src="img/logos/shepherd-australian-shepherd-dog.png" alt="Australian shepherd alternate logo" />
          <p class="caption">
            Australian shepherd alternate&nbsp;logo
          </p>
        </div>
      </div> {{! .grid__row }}

      <div class="grid__row">
        <div class="figure grid__quarter">
          <img data-lazy data-src="img/logos/fetchy-head-logo.png" alt="Fetchy Shiba Inu logo" />
          <p class="caption">
            <a href="http://metafizzy.co/blog/fetchy-shiba-logo">Fetchy</a>
          </p>
        </div>

        <div class="figure grid__quarter">
          <img data-lazy data-src="img/logos/fetchy-runner.png" alt="Fetchy Shiba Inu runner" />
        </div>
      </div> {{! .grid__row }}

    </div> {{! .grid__half }}

    <div class="grid__half figure">
      {{> gif_player
        poster_img="img/logos/rgb-schemes-logo.png"
        gif="img/logos/rgb-schemes-birdie-move.gif"
        alt="RGB Schemes logo" }}
      <p class="caption"><a href="http://metafizzy.co/blog/rgb-schemes-logo">RGB Schemes, a VR gaming start-up.</a> Logo can be rendered as 3D object for VR.</p>
    </div> {{! .grid__half }}

    <div class="grid__half figure">
      <img data-lazy data-src="img/logos/roast-logo.png" alt="Roast ambigram" />
      <p class="caption">
        <a href="https://www.roast.io/">Roast</a> ambigram
      </p>
    </div>{{! .grid__half }}

    <div class="grid__half">
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/sunset-spark.png" alt="Sunset Spark logo" />
        <p class="caption">
          <a href="http://www.sunsetspark.org">Sunset Spark</a>
        </p>
      </div>
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/cutie-owl.png" alt="Cutie owl logo" />
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half">
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/mealio-logo-alt.png" alt="Mealio logo" />
        <p class="caption">
          <a href="https://www.mealio.com/">Mealio</a>
        </p>
      </div>

      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/netflix-atlas-logo-black.png" alt="Netflix Atlas logo" />
        <p class="caption">
          <a href="http://metafizzy.co/blog/netflix-atlas-logo">Netflix Atlas</a>
        </p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half">
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/goodfoot-logo.png" alt="Goodfoot logo" />
        <p class="caption">Goodfoot</p>
      </div>
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/flying-pup.png" alt="Prerender.cloud flying pup logo" />
        <p class="caption"><a href="http://prerender.cloud">Prerender.cloud</a></p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half">
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/wyday-logo.png" alt="wyDay logo" />
        <p class="caption"><a href="http://metafizzy.co/blog/wyday-logos">wyDay</a></p>
      </div>
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/limelm.png" alt="LimeLM logo" />
        <p class="caption"><a href="http://metafizzy.co/blog/wyday-logos">LimeLM</a></p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half">
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/bootstrap-logo.png" alt="Bootstrap logo, rejected" />
        <p class="caption"><a href="http://smallblog.desandro.com/2016/bootstrap-logo">Bootstrap, rejected</a></p>
      </div>
      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/iojs-logo.png" alt="io.js logo, rejected" />
        <p class="caption"><a href="https://github.com/nodejs/logos/pull/31">io.js, rejected</a></p>
      </div>
    </div> {{! .grid__half }}
  </div> {{! .grid }}

  <h3>Twitter</h3>

  <div class="grid">
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/flight-wordmark.png" alt="Flight wordmark" />
        <p class="caption"><a href="https://flightjs.github.io/">Flight framework</a> wordmark</p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/flight-logo.png" alt="Flight wordmark" />
        <p class="caption">Flight logo</p>
      </div>
    </div> {{! .grid__half }}
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/macaw-swift.png" alt="Macaw Swift" />
        <p class="caption">Macaw Swift. The muse may or may not be Taylor Swift.</p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/summingbird-logo.png" alt="Summingbird" />
        <p class="caption"><a href="https://github.com/twitter/summingbird">Summingbird</a>. ∑ is the symbol for sum. Spot&nbsp;it?</p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/hack-week-13-q2.png" alt="Hackweek 2013 Q2" />
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/hack-week-13-q3.png" alt="Hackweek 2013 Q3" />
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/pants-logo.png" alt="Pants logo" />
        <p class="caption"><a href="http://pantsbuild.github.io/">Pants build system</a></p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy data-src="img/logos/parquet-logo.png" alt="Parquet" />
        <p class="caption"><a href="http://parquet.apache.org/">Parquet format</a></p>
      </div>
    </div> {{! .grid__half }}

  </div> {{! .grid }}

  <h3>Refactor</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy="1040x350" data-src="img/logos/refactor-hawt.jpg" alt="Refactor" />
    </div>

    <div class="grid__half ">

      <div class="figure grid__quarter">
        <img data-lazy data-src="img/logos/refactor-stickers.jpg" alt="Refactor stickers">
      </div>
      <div class="figure grid__quarter">
        <a class="figure__img-link" href="https://cottonbureau.com/products/refactor">
          <img data-lazy="4x3" data-src="img/logos/refactor-shirt-black-m.jpg" alt="Refactor shirt"></a>
        <p class="caption"><a href="https://cottonbureau.com/products/refactor">Refactor shirts available on Cotton Bureau</a></p>
      </div>

    </div> {{! .grid__half }}
  </div> {{! .grid }}

</section>
