<section id="nclud-com" class="nclud-com">
  <div class="section-header">
    <h2 class="section-title">nclud.com v3</h2>
    <p class="section-description">Front-end development</p>
    <p class="section-timestamp">2012</p>
  </div>

  <div class="fit-video figure" style="padding-bottom: 56.3%;">
    {{! 560 x 315 }}
    <iframe data-lazy data-src="https://www.youtube.com/embed/OrMRtVSaDa0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy="1200x694" data-src="img/nclud-v3-home.jpg" alt="nclud.com v3 homepage" />
    </div>
    <div class="figure grid__half ">
      <img data-lazy="1200x694" data-src="img/nclud-v3-opower.jpg" alt="nclud.com v3 Opower project" />
    </div>
    <div class="figure grid__half ">
      <img data-lazy="1200x694" data-src="img/nclud-v3-team.jpg" alt="nclud.com v3 team" />
    </div>
    <div class="figure grid__half ">
      <img data-lazy="1200x694" data-src="img/nclud-v3-contact.jpg" alt="nclud.com v3 contact" />
    </div>
  </div>

</section>
