<section id="portraits" class="portraits">
  <div class="section-header">
    <h2 class="section-title">Halftone &amp; pixel portraits</h2>
  </div>

  <div class="grid">
    <div class="figure grid__half ">
      {{> gif_player
        poster_img="img/portraits/angelis.png"
        gif="img/portraits/gifs/angelis.gif"
        alt="Angelis pixelated"
        lazy="9x16" }}
      <p class="caption">
        <a href="https://www.flickr.com/photos/jus10h/16205337158">Photo by Justin Higuchi</a>.
        <a href="https://www.electricobjects.com/objects/3784">Made for Electric&nbsp;Objects</a>. 2015.
      </p>
    </div>
    <div class="figure grid__half ">
      {{> gif_player
        poster_img="img/portraits/boca-raton.png"
        gif="img/portraits/gifs/boca-raton.gif"
        alt="Boca Raton halftone"
        lazy="9x16" }}
      <p class="caption">
        <a href="https://www.flickr.com/photos/iirusa/16301404386">Photo by Nelson Davis, AIP Corporation</a>.
        <a href="https://www.electricobjects.com/objects/3791">Made for Electric&nbsp;Objects</a>.
        Licensed <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. 2015.
      </p>
    </div>

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        {{> gif_player
          poster_img="img/portraits/shelby.png"
          gif="img/portraits/gifs/shelby.gif"
          alt="Shelby halftone"
          lazy="9x16" }}
        <p class="caption">
          <a href="https://www.flickr.com/photos/danrocha/15539062300">Photo by Lies Thru a Lens</a>.
          <a href="https://www.electricobjects.com/objects/3483">Made for Electric&nbsp;Objects</a>. 2014.
        </p>
      </div>
      <div class="figure grid__quarter ">
        {{> gif_player
          poster_img="img/portraits/bands.png"
          gif="img/portraits/gifs/bands.gif"
          alt="Bands pixelated" }}
        <p class="caption">
          <a href="https://www.flickr.com/photos/joarder/16161567555/">Photo by Rakib Hasan Sumon</a>.
          <a href="https://www.electricobjects.com/objects/3847">Made for Electric&nbsp;Objects</a>. 2015.
        </p>
      </div>
    </div> {{! .grid__half }}
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        {{> gif_player
          poster_img="img/portraits/louise.png"
          gif="img/portraits/gifs/louise.gif"
          alt="Louise halftone"
          lazy="9x16" }}
        <p class="caption">
          <a href="https://www.flickr.com/photos/marcwathieu/14367654989">Photo by Marc Wathieu</a>.
          <a href="https://www.electricobjects.com/objects/3481">Made for Electric&nbsp;Objects</a>.
          Licensed <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC-BY-NC-SA</a>. 2014.
        </p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="9x16" data-src="img/portraits/shari.png" alt="Shari pixelated" />
        <p class="caption">
          <a href="https://www.flickr.com/photos/shari-thompson/15352752928">Photo by Shari Alisha</a>.
          Licensed <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC-BY-NC-SA</a>. 2015.
        </p>
      </div>
    </div> {{! .grid__half }}

    <div class="figure grid__half ">
      <p>These portraits are an ongoing project I've been working on for years. It&rsquo;s inspired by (or a derivative of) Chuck&nbsp;Close.</p>
      <p>I&rsquo;m fascinated by how you can simplify an image and still make sense of it. Faces work best as our brains have special programming for facial recognition. Taking an image of someone, you can reduce it to a handful of shapes and colors and still recognize the&nbsp;person.</p>
    </div>

    <div class="figure grid__half ">
      <p>When you look up close, it&rsquo;s a bunch of meaningless circles and squares. When you step back and view it all, you can&rsquo;t help but see the person. Not just see them, but also notice details and imperfections. All from simplistic pieces. What&rsquo;s really there?</p>
      <p>The universe is like this at both ends of its scale. The space inside an atom is mostly nothing. The space in between stars is mostly nothing. But when you view these elementary pieces together, you see something&nbsp;interesting.</p>
    </div>

    <div class="figure grid__half ">
      <div class="fit-video" style="padding-bottom: 100%;">
        <iframe src="https://www.youtube.com/embed/GB-rVZ6ZiWU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p class="caption">
        <a href="https://www.flickr.com/photos/ckerr/15422285307/">Photo by Charles Kerr</a>.
        Made with <a href="http://breathing-halftone.desandro.com">Breathing&nbsp;halftone</a>.
        2014.
      </p>
    </div>

    <div class="figure grid__half ">
      <div class="fit-video" style="padding-bottom: 100%;">
        <iframe src="https://www.youtube.com/embed/7EVAA2U8vPQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p class="caption">
        <a href="https://www.flickr.com/photos/lukechanchan/12357114745/">Photo by luke chan</a>.
        Made with <a href="http://breathing-halftone.desandro.com">Breathing&nbsp;halftone</a>.
        Licensed <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC-BY-NC-SA</a>.
        2014.
      </p>
    </div>

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="2x3" data-src="img/portraits/gavin.png" alt="Gavin pixelated" />
        <p class="caption">Photo by Troy Holden. Made with <a href="http://close-pixelate.desandro.com/">Close Pixelate</a>. 2010.</p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="2x3" data-src="img/portraits/stanley.png" alt="Stanley pixelated" />
        <p class="caption">Photo by Troy Holden. Made with <a href="http://close-pixelate.desandro.com/">Close Pixelate</a>. 2010.</p>
      </div>
    </div> {{! .grid__half }}
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="9x16" data-src="img/portraits/take-my-picture.png" alt="Pixelated portrait" />
        <p class="caption"><a href="https://www.flickr.com/photos/hamed/590034637/">Photo by Hamed Saber</a>. Made with <a href="http://close-pixelate.desandro.com/">Close Pixelate</a>. 2010.</p>
      </div>
      <div class="figure grid__quarter ">
        {{> gif_player
          poster_img="img/portraits/self-fri-halo.png"
          gif="img/portraits/gifs/self-fri-halo.gif"
          alt="Self portrait pixelated" }}
        <p class="caption">Self portrait. 2015.</p>
      </div>
    </div> {{! .grid__half }}

  </div> {{! .grid }}

</section>
