<section id="web-presence" class="web-presence">
  <div class="section-header">
    <h2 class="section-title">Web presence</h2>
  </div>

  <div class="grid">
    <div class="grid__half ">
      <ul class="text-list">
        <li><a class="text-list__title" href="https://twitter.com/desandro">Twitter</a></li>
        <li><a class="text-list__title" href="https://github.com/desandro">GitHub</a></li>
        <li><a class="text-list__title" href="https://dribbble.com/desandro">Dribbble</a></li>
      </ul>
    </div>
    <div class="grid__half ">
      <ul class="text-list">
        <li><a class="text-list__title" href="https://codepen.io/desandro">CodePen</a></li>
        <li><a class="text-list__title" href="https://instagram.com/davedesandro/">Instagram</a></li>
        <li><a class="text-list__title" href="https://desandro.tumblr.com">Tumblr</a></li>
      </ul>
    </div>
  </div>

</section>
