<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Designer/developer at Metafizzy. Brooklyn, NY." />

  <title>David DeSandro</title>

  {{#if is_dev }}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    <link rel="stylesheet" href="css/styles.css" media="screen" />
  {{/if}}

</head>
<body>

<div class="content-wrap">
