<section id="codepen" class="codepen">
  <div class="section-header">
    <h2 class="section-title"><a href="http://codepen.io/pen/">CodePen</a></h2>
    <p class="section-description">Drag, resize, collapse editor panels</p>
    <p class="section-timestamp">2015</p>
  </div>

  <div class="fit-video" style="padding-bottom: 65.2%;">
    {{! 1150 x 750 }}
    <iframe data-lazy data-src="https://vid.me/e/ooIj?muted=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
  </div>

</section>
