<section id="flickity" class="flickity">
  <div class="section-header">
    <h2 class="section-title"><a href="http://flickity.metafizzy.co">Flickity</a></h2>
    <p class="section-description">Touch, responsive, flickable galleries</p>
    <p class="section-timestamp">2015&ndash;present</p>
  </div>

  <div class="flickity-demo" data-flickity='{ "wrapAround": true }'>
    <div class="flickity-demo__cell flickity-demo__cell--1">1</div>
    <div class="flickity-demo__cell flickity-demo__cell--2">2</div>
    <div class="flickity-demo__cell flickity-demo__cell--3">3</div>
    <div class="flickity-demo__cell flickity-demo__cell--4">4</div>
    <div class="flickity-demo__cell flickity-demo__cell--5">5</div>
  </div>

  <h3>Flickity in use</h3>

  <div class="grid">

    <div class="grid__half ">
      <div class="figure grid__quarter">
        <a class="figure__img-link" href="http://www.thefieldmag.com/photo/devils-peak-fire-lookout-mt-hood-oregon-film-photo">
          <img data-lazy="1x1" data-src="img/thefieldmag.jpg" alt="The Field" /></a>
        <p class="caption"><a href="http://www.thefieldmag.com/photo/devils-peak-fire-lookout-mt-hood-oregon-film-photo">The Field</a></p>
      </div>
      <div class="figure grid__quarter">
        <a class="figure__img-link" href="http://www.engadget.com/2016/01/05/canon-new-powershot-vixia-cameras">
          <img data-lazy="1x1" data-src="img/engadget.jpg" alt="Engadget"></a>
        <p class="caption"><a href="http://www.engadget.com/2016/01/05/canon-new-powershot-vixia-cameras">Engadget</a></p>
      </div>
    </div>

    <div class="grid__half">
      <div class="figure grid__quarter">
        <a class="figure__img-link" href="http://tonyhornecker.com/work/homes-project/the-palafito.php">
          <img data-lazy="1x1" data-src="img/tonyhornecker.jpg" alt="Tony Hornecker" /></a>
        <p class="caption"><a href="http://tonyhornecker.com/work/homes-project/the-palafito.php">Tony Hornecker</a></p>
      </div>
      <div class="figure grid__quarter ">
        <a class="figure__img-link" href="https://www.artsy.net/show/maison-gerard-maison-gerard-and-the-indianapolis-museum-of-art-celebrate-ayala-serfaty">
          <img data-lazy="1x1" data-src="img/artsy.jpg" alt="Artsy" /></a>
        <p class="caption"><a href="https://www.artsy.net/show/maison-gerard-maison-gerard-and-the-indianapolis-museum-of-art-celebrate-ayala-serfaty">Artsy</a></p>
      </div>
    </div>

  </div>

</section>
