<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Designer/developer at Metafizzy. Brooklyn, NY." />

  <title>David DeSandro</title>

  <link rel="stylesheet" href="css/styles.css" media="screen" />

</head>
<body>

<div class="container">

  <section class="header">

    <h1>David DeSandro</h1>

    <p class="header__description">Designer/developer at
      <a href="http://metafizzy.co" class="split">Metafizzy</a></p>

    <p class="header__location">Brooklyn, NY</p>

    <p class="header__credo">Being creative and making things keeps me happy</p>

  </section>

</div>

</body>
</html>
