<section id="isotope" class="isotope">
  <div class="section-header">
    <h2 class="section-title"><a href="http://isotope.metafizzy.co">Isotope</a></h2>
    <p class="section-description">Filter &amp; sort magical layouts</p>
    <p class="section-timestamp">2011&ndash;present</p>
  </div>

  <div class="isotope-demo-buttons">
    <div class="button-group button-group--isotope-filters">
      <button class="button is-selected" data-isotope-filter="*">Show all</button>
      <button class="button" data-isotope-filter=".isotope-demo__item--orange">Orange</button>
      <button class="button" data-isotope-filter=".isotope-demo__item--green">Green</button>
      <button class="button" data-isotope-filter=".isotope-demo__item--blue">Blue</button>
    </div>
    <div class="button-group button-group--isotope-sorts">
      <button class="button is-selected" data-isotope-sort="original-order">Original order</button>
      <button class="button" data-isotope-sort="letter">ABC</button>
      <button class="button" data-isotope-sort="number">123</button>
    </div>
  </div>

  <div class="isotope-demo">
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">M</span>
      <span class="isotope-demo__item__number">16</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--orange">
      <span class="isotope-demo__item__letter">C</span>
      <span class="isotope-demo__item__number">8</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">J</span>
      <span class="isotope-demo__item__number">3</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">F</span>
      <span class="isotope-demo__item__number">7</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">N</span>
      <span class="isotope-demo__item__number">2</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--orange">
      <span class="isotope-demo__item__letter">B</span>
      <span class="isotope-demo__item__number">13</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">E</span>
      <span class="isotope-demo__item__number">1</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">I</span>
      <span class="isotope-demo__item__number">10</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">P</span>
      <span class="isotope-demo__item__number">14</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">A</span>
      <span class="isotope-demo__item__number">6</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">O</span>
      <span class="isotope-demo__item__number">11</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">H</span>
      <span class="isotope-demo__item__number">12</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--orange">
      <span class="isotope-demo__item__letter">G</span>
      <span class="isotope-demo__item__number">9</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--orange">
      <span class="isotope-demo__item__letter">Q</span>
      <span class="isotope-demo__item__number">4</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--green">
      <span class="isotope-demo__item__letter">D</span>
      <span class="isotope-demo__item__number">5</span>
    </div>
    <div class="isotope-demo__item isotope-demo__item--blue">
      <span class="isotope-demo__item__letter">L</span>
      <span class="isotope-demo__item__number">15</span>
    </div>
  </div> <!-- .isotope-demo -->

  <h3>Isotope in use</h3>

  <div class="grid">
    <div class="figure grid__half grid__half--alpha">
      <a class="figure__img-link" href="http://uk.rimmellondon.com/products/all">
        <img data-lazy="3x4" data-src="img/rimmel-london.jpg" alt="Rimmel London" /></a>
      </a>
      <p class="caption"><a href="http://uk.rimmellondon.com/products/all">Rimmel London</a></p>
    </div>
    <div class="figure grid__half grid__half--beta">
      <a class="figure__img-link" href="http://http://www.nasa.gov/">
        <img data-lazy="3x4" data-src="img/nasa.jpg" alt="nasa.gov" /></a>
      </a>
      <p class="caption"><a href="http://http://www.nasa.gov/">nasa.gov</a></p>
    </div>
    <div class="figure grid__half grid__half--alpha">
      <a class="figure__img-link" href="https://www.wholefoodsmarket.com/">
        <img data-lazy="3x4" data-src="img/wholefoods.jpg" alt="Whole Foods" /></a>
      </a>
      <p class="caption"><a href="https://www.wholefoodsmarket.com/">Whole Foods</a></p>
    </div>
    <div class="figure grid__half grid__half--beta">
      <a class="figure__img-link" href="http://www.kia.ca/all-vehicles">
        <img data-lazy="3x4" data-src="img/kia.jpg" alt="Kia" /></a>
      </a>
      <p class="caption"><a href="http://www.kia.ca/all-vehicles">Kia</a></p>
    </div>
  </div>

</section>
