<section id="logos" class="logos">
  <div class="section-header">
    <h2 class="section-title">Logos &amp; branding</h2>
  </div>

  <h3>Metafizzy</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/metafizzy-logo.png" alt="Metafizzy logo" />
      <p class="caption"><a href="http://metafizzy.co/blog/fizzy-bear-branded/">Read about the process of the Metafizzy re-brand</a></p>
    </div>

    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/metafizzy-mix.png" alt="Metafizzy brand" />
    </div>
  </div>

  <h3>Bower</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/bower-logo.png" alt="Bower logo" />
      <p class="caption">Bower. <a href="https://gist.github.com/desandro/1c50118441f703f3f6e1">Read about the making of the Bower logo</a>.</p>
    </div>

    <div class="grid__half ">
      <div class="grid__row">
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="https://cottonbureau.com/products/bower">
            <img data-lazy="1x1" data-src="img/logos/bower-shirt-gold.jpg" alt="Bower gold shirt" /></a>
          <p class="caption"><a href="https://cottonbureau.com/products/bower">Bower shirts available on Cotton&nbsp;Bureau</a></p>
        </div>
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="https://cottonbureau.com/products/bower">
            <img data-lazy="1x1" data-src="img/logos/bower-shirt-oatmeal.jpg" alt="Bower gold oatmeal" /></a>
        </div>
      </div> {{! .grid__row }}
      <div class="grid__row">
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="http://bower.io">
            <img data-lazy="1x1" data-src="img/logos/bower-io.png" alt="Bower.io" /></a>
          <p class="caption"><a href="http://bower.io">Bower.io</a></p>
        </div>
        <div class="figure grid__quarter ">
          <a class="figure__img-link" href="https://www.stickermule.com/marketplace/3758-bower">
            <img data-lazy="1x1" data-src="img/logos/bower-stickers.jpg" alt="Bower stickers" /></a>
          <p class="caption"><a href="https://www.stickermule.com/marketplace/3758-bower">Bower stickers available on Sticker&nbsp;Mule</a></p>
        </div>
      </div> {{! .grid__row }}
    </div> {{! .grid__half }}
  </div>

  <h3>Netflix Atlas</h3>

  <div class="grid">
    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/netflix-atlas-logo-black.png" alt="Netflix Atlas logo" />
      <p class="caption"><a href="http://smallblog.desandro.com/2016/netflix-atlas-logo">Read about the design process of Netflix Atlas</a></p>
    </div>

    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/netflix-atlas-colors.png" alt="Netflix Atlas logo colors" />
    </div>
  </div>


  <h3>Twitter</h3>

  <div class="grid">
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/flight-wordmark.png" alt="Flight wordmark" />
        <p class="caption"><a href="https://flightjs.github.io/">Flight framework</a> wordmark</p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/flight-logo.png" alt="Flight wordmark" />
        <p class="caption">Flight logo</p>
      </div>
    </div> {{! .grid__half }}
    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/macaw-swift.png" alt="Macaw Swift" />
        <p class="caption">Macaw Swift. The muse may or may not be Taylor Swift.</p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/summingbird-logo.png" alt="Summingbird" />
        <p class="caption"><a href="https://github.com/twitter/summingbird">Summingbird</a>. ∑ is the symbol for sum. Spot&nbsp;it?</p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/hack-week-13-q2.png" alt="Hackweek 2013 Q2" />
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/hack-week-13-q3.png" alt="Hackweek 2013 Q3" />
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/pants-logo.png" alt="Pants logo" />
        <p class="caption"><a href="http://pantsbuild.github.io/">Pants build system</a></p>
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/parquet-logo.png" alt="Parquet" />
        <p class="caption"><a href="http://parquet.incubator.apache.org/">Parquet format</a></p>
      </div>
    </div> {{! .grid__half }}

    <div class="grid__half ">
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/twitter-geo-globe.png" alt="Twitter Geo globe" />
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/consumer-product-w-shirt.jpg" alt="Consumer product womens shirt" />
      </div>

      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/search-relevance-shirt.jpg" alt="Search &amp; Relevance shirt" />
      </div>
      <div class="figure grid__quarter ">
        <img data-lazy="1x1" data-src="img/logos/search-relevance.png" alt="Search &amp; Relevance" />
      </div>
    </div> {{! .grid__half }}
    <div class="figure grid__half ">
      <img data-lazy="1x1" data-src="img/logos/consumer-product-design.png" alt="Consumer Product" />
      <p class="caption">Twitter company t-shirt. Utilizing the sublime icon design of <a href="http://jreiss.net/">Jeremy Reiss</a></p>
    </div> {{! .grid__half }}

  </div> {{! .grid }}

  <h3>Refactor</h3>

  <div class="figure">
    <img data-lazy="1040x350" data-src="img/logos/refactor-hawt.jpg" alt="Refactor" />
  </div>

  <div class="grid">
    <div class="figure grid__half ">
      <a class="figure_img-link" href="https://www.stickermule.com/marketplace/3759-chromed-out-refactor">
        <img data-lazy="1x1" data-src="img/logos/refactor-stickers.jpg" alt="Refactor stickers"></a>
      <p class="caption"><a href="https://www.stickermule.com/marketplace/3759-chromed-out-refactor">Refactor stickers available on Sticker Mule</a></p>
    </div>

    <div class="figure grid__half ">
      <a class="figure_img-link" href="https://cottonbureau.com/products/refactor">
        <img data-lazy="4x3" data-src="img/logos/refactor-shirt-black-m.jpg" alt="Refactor shirt"></a>
      <p class="caption"><a href="https://cottonbureau.com/products/refactor">Refactor shirts available on Cotton Bureau</a></p>
    </div>
  </div>

</section>
