<section class="portraits">
  <h2 class="section-title">Halftone &amp; pixel portraits</h2>

  <div class="grid">
    <div class="figure grid__half grid__half--alpha">
      {{#portrait_gifs.shelby}}
        {{> gif_player}}
      {{/portrait_gifs.shelby}}
    </div>

    <div class="figure grid__half grid__half--beta">
      {{#portrait_gifs.boca_raton}}
        {{> gif_player}}
      {{/portrait_gifs.boca_raton}}
    </div>

    <div class="figure grid__half grid__half--alpha">
      {{#portrait_gifs.louise}}
        {{> gif_player}}
      {{/portrait_gifs.louise}}
    </div>

    <div class="figure grid__half grid__half--beta">
      <img src="img/portraits/shari.png" alt="Shari halftone" />
      <p class="caption">Photo</p>
    </div>

    <div class="figure grid__half grid__half--alpha">
      <img src="img/portraits/gavin.png" alt="Gavin pixelated" />
      <p class="caption">Photo</p>
    </div>

    <div class="figure grid__half grid__half--beta">
      <img src="img/portraits/stanley.png" alt="Stanley pixelated" />
      <p class="caption">Photo</p>
    </div>

    <div class="figure grid__half grid__half--alpha">
      <img src="img/portraits/take-my-picture.png" alt="Pixelated portrait" />
      <p class="caption">Photo</p>
    </div>

    <div class="figure grid__half grid__half--beta">
      <img src="img/portraits/self-fri-halo.png" alt="Self portrait pixelated" />
      <p class="caption">Self portrait</p>
    </div>

  </div>

</section>