/* Header
------------------------- */

.header {
  padding-top: 20px;
  position: relative;
  margin-top: 0;
}

.header h1 {
  font-size: 2.2em;
  line-height: 1.0;
  margin: 0 0 5px;
}

.header__copy {
  margin: 0;
}

.header__headshot {
  margin-top: 10px;
}

.header__headshot img {
  display: block;
  width: 50%;
  border-radius: 4px;
}

@media screen and (min-width: 640px) {

  .header {
    padding-top: 40px;
    position: relative;
    margin-top: 0;
    padding-right: 28%; /* space for headshot */
  }

  .header h1 {
    font-size: 100px;
    margin: 0 0 20px;
  }

  .header__headshot {
    position: absolute;
    width: 24%;
    right: 0;
    top: 60px;
    margin: 0;
  }

  .header__headshot img {
    width: 100%;
    border-radius: 8px;
  }

}
