<section class="header">

  <h1>David DeSandro</h1>

  <p class="big-copy header__copy header__description">Designer, developer running
    <a href="http://metafizzy.co">Metafizzy</a></p>

  <p class="big-copy header__copy header__location">Alexandria, VA</p>

  <div class="header__headshot">
    <img src="img/david-desandro-2012.jpg" alt="David DeSandro" />
    <p class="caption"><a href="https://www.flickr.com/photos/lachlanhardy/8079016329/">Photo by Lachlan Hardy</a></p>
  </div>

</section>
