/* figure
------------------------- */

.figure {
  margin-bottom: 40px;
}

.figure__img-link {
  display: block;
}

.figure__img-link:hover { text-decoration: none; }

.figure img {
  display: block;
  width: 100%;
}

.figure img.tight-logo {
  padding: 15%;
}

.figure.grid__half img.tight-logo {
  padding: 10%;
}
