/* Masonry
------------------------- */

.masonry-demo {
  margin-bottom: 40px;
}

.masonry-demo__item,
.masonry-demo__grid-sizer {
  width: 32%;
}

.masonry-demo__item {
  float: left;
  height: 60px;
  margin-bottom: 5px;
  background: #F90;
  border-radius: 8px;
}

.masonry-demo__gutter-sizer {
  width: 2%;
}

.masonry-demo__item--width2 { width: 32%; }

.masonry-demo__item--height2 { height: 90px; }
.masonry-demo__item--height3 { height: 130px; }

@media screen and (min-width: 640px) {
  .masonry-demo__item,
  .masonry-demo__grid-sizer {
    width: 15%;
  }

  .masonry-demo__item {
    margin-bottom: 20px;
    height: 120px;
  }

  .masonry-demo__item--height2 { height: 180px; }
  .masonry-demo__item--height3 { height: 260px; }

}
