/* Isotope
------------------------- */

.isotope-demo {
  margin-bottom: 40px;
}

.isotope-demo__item {
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  background: #AAA;
  margin: 0 5px 5px 0;
  border-radius: 4px;
}

.isotope-demo__item--orange { background: #F90; }
.isotope-demo__item--green { background: #8C8; }
.isotope-demo__item--blue { background: #09F; }

.isotope-demo__item > span {
  position: absolute;
  color: white;
  line-height: 1;
  font-size: 1.8em;
}

.isotope-demo__item__letter {
  left: 10px;
  top: 8px;
}

.isotope-demo__item__number {
  right: 15px;
  bottom: 8px;
}

.isotope-demo-buttons .button-group {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (min-width: 640px) {
  .isotope-demo__item {
    width: 120px;
    height: 120px;
    margin: 0 10px 10px 0;
    border-radius: 8px;
  }

  .isotope-demo__item > span {
    font-size: 2.6em;
  }
}
