/* gif-player
------------------------- */

.gif-player {
  position: relative;
  background: #111;
}

.gif-player__play-button {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: 5px solid white;
  background: #F90;
  border-radius: 30px;
  outline: none;
  /* hidden by default */
  opacity: 0;
  transition: -webkit-transform 0.2s, transform 0.2s, opacity 0.2s;
  -webkit-transform: translate(-50%, -50%) scale(0.01);
          transform: translate(-50%, -50%) scale(0.01);
}

.gif-player__play-button svg {
  position: absolute;
  left: 28%;
  top: 25%;
  width: 50%;
  height: 50%;
}

.gif-player__play-button__arrow {
  fill: white;
}

.gif-player__play-button--corner {
  right: 0px;
  top: 60px;
}

.gif-player__play-button--center {
  left: 50%;
  top: 50%;
}

.gif-player__img {
  transition: opacity 0.2s;
}

.gif-player:hover {
  cursor: pointer;
}

/* corner button visible when stopped */
.gif-player.is-stopped .gif-player__play-button--corner {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

/* corner button hidden when stopped:hovered */
.gif-player.is-stopped:hover .gif-player__play-button--corner {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.01);
          transform: translate(-50%, -50%) scale(0.01);
}

/* corner button visible when stopped:hovered */
.gif-player.is-stopped:hover .gif-player__play-button--center {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

/* img is dark when stopped:hovered or loading */
.gif-player.is-stopped:hover .gif-player__img,
.gif-player.is-loading .gif-player__img {
  opacity: 0.5;
}
