/* contact
------------------------- */

.contact-p {
  font-size: 1.6em;
  line-height: 1.2;
}

.contact__email {
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s, transform 0.4s;
}

.contact__email.is-address-visible {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.contact__email__piece {
  position: absolute;
  transition: opacity 0.4s;
  margin-top: 0;
  font-weight: bold;
}

.contact__email__piece--address {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.contact__email.is-address-visible .contact__email__piece--gate {
  opacity: 0;
  pointer-events: none;
}

.contact__email.is-address-visible .contact__email__piece--address {
  opacity: 1;
}

@media screen and (min-width: 640px) {
  .contact__disclaimer {
    font-size: 1.4em;
    line-height: 1.15;
  }
}
